@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;

}

.header {
    background-color: #222;
    padding: 25px 100px;
}

main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    margin-bottom: 50px;
    background-color: rgba(71, 105, 119, 0.93);
    padding: 20px;
}

main .delete-icon {
    float: right;
    color: #bf2626;
    cursor: pointer;
    transform: scale(2);
    font-size: 15px;
}

main .edit-icon {
    float: right;
    margin-right: 25px;
    color: #3d4eaf;
    cursor: pointer;
    transform: scale(3);
    font-size: 10px;
}

main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}

form input,
form textarea,
form button {
    width: 90%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    outline: none;
    font-size: 15px;
}

form button {
    width: 100px;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 20px;
}

.user form input,
.user form textarea,
.user form button {
    background: #133;
}

.user form button:hover {
    transform: scale(1.01);
}

